<h2 class="top-space">Transaction Samples</h2>
<div class="app-transaction">
	<md-progress-linear ng-show="transaction.busy()" md-mode="indeterminate">
	</md-progress-linear>

	<div>
		<h3>{{ 'TRANSACTION_SAMPLE' | translate }}</h3>
	</div>

	<div class="layout-row">
		<md-button ng-show="transaction.busy()" ng-click="transaction.abort()" class="md-warn">
			{{ 'ABORT' | translate }}
		</md-button>
		<md-button ng-hide="transaction.busy()" ng-click="onProcess()" class="md-accent">
			{{ 'START_BUT' | translate }}
		</md-button>
	</div>
</div>
